# http://www.gnu.org/software/automake

Makefile.in
Makefile
# http://www.gnu.org/software/autoconf
/examples/ws-echo
/examples/echo
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

*~
.*~
.cproject
.project
.settings
*.o
*.lo
.*.swp
.libs
.deps

*.html
/autom4te.cache
stamp-h1
Makefile
/config.status
/config.log
/config.h
/aclocal.m4
Makefile.in
/config/
/configure
*~
m4/*.m4
/build*/
ltmain.sh
libtool
libwebsock.la
